body {
    background-image: url("../assets/images/pexels-photo-912110.webp");
    background-size: 100%;
}


.btn {
    margin-top: .5rem;
    background-color: rgb(0, 162, 255);
    color: white;
}

#city-search-term {
    display: flex;
}

#weather-container {
    background-color: white;
}

.container {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;

}

.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
}

