body {
    background-image: url("../assets/images/pexels.jpg");
    background-size: 100%;
}


.btn {
    margin-top: .5rem;
    background-color: rgb(184, 198, 206);
    color: black;
}

#city-search-term {
    display: flex;
}

#weather-container {
    background-color: white;
}

.container {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;

}

.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    color: white;
    margin-left: 5rem;
}

